body {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'SF Pro', 'SF Pro Icons',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  max-width: 80%;
  margin: auto;
  gap: 20px;
}
