body {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'SF Pro', 'SF Pro Icons',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  max-width: 70%;
  margin: auto;
  padding: 70px 0;
}

:root {
  --nav-bar-width: 150px;
  --nav-bar-focus-bg-color: #eee;
  --border-radius: 5px;
}
