*,
:after,
:before,
html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'SF Pro', 'SF Pro Icons',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
}

html,
body,
#__next {
  height: 100%;
}

:root {
  --nav-bar-width: 150px;
  --nav-bar-focus-bg-color: #eee;
  --border-radius: 5px;
}

.content {
  padding-top: 3%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: var(--nav-bar-width);
}

#__next {
  width: 90%;
  margin: 3% auto 0 auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 570px) {
  :root {
    --nav-bar-width: 0px;
  }
  .nav {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #__next {
    width: 90%;
    margin: 5% auto 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #__next {
    margin: 2% auto 0 auto;
    width: 80%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
